div.main-nav{
    float: left;
    width: 100%;
}
div.iPadMenu{
    position: relative; 
    overflow: hidden;
}
div.iPadMenu ul{
    float: left;
    /*        -webkit-transition: all 200ms linear 80ms;
            -moz-transition: all 200ms linear 80ms;
            -ms-transition: all 200ms linear 80ms;
            -o-transition: all 200ms linear 80ms;
            transition: all 200ms linear 80ms;*/
    overflow: hidden;
    height: 0;
    position: absolute;
    padding:0;
    margin:0;
    background: #f4f4f4;
    top: 0;
    right: 0;
    z-index: 9999;
    width:0px;
    padding-top:50px;
}
body div.iPadMenu > ul{
    width:100%;
}
div.iPadMenu  li{
    background: #f4f4f4;
    float: left;
    width: 100%;
    display: block;
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
div.iPadMenu li.subtitle{
    /*background: #000 url("../img/nav/item-arrow-left.png") no-repeat 20px center;*/
    text-align:center;
}
div.iPadMenu li a{
    color: #fff;
    font-family: "Arial";
    white-space: nowrap;

}
div.iPadMenu li.subtitle a{
    text-decoration: underline;
}
body div.iPadMenu .go-to-sub-menu{
    float: right;
    width: 20px;
    height: 20px;
    background: #000;
}
div.iPadMenu .go-to-sub-menu,
div.iPadMenu li a{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.15em;
    padding: 15px 10px 15px 20px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #111;
    background: #f4f4f4;
    display:block;
    cursor:pointer;
    white-space: nowrap;
    float: left;
    z-index:1;
}

div.iPadMenu ul li span.active-trail,
div.iPadMenu ul li a.active-trail {
    color: #D41D0A;
}
div.iPadMenu span.back_to_parent{
    float: right;
    width: 50px;
    font-size:28px;
    text-indent: -99996px;
    height:69px;
    background: red;
    cursor:pointer;
}
div.iPadMenu div.Social_Ticker{
    height:110px;
    width:100%;
    position:relative;
}
#navbar div.iPadMenu div.Social_Ticker ul{
    position:relative;
    height:55px !important;
    width:100% !important;
    left:0;
    padding-top:19px;
    margin-top:0px;
    float:left;
    margin-bottom:0;
}
div.iPadMenu div.Social_Ticker ul.shop-nav li{
    display: inline-block;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    padding: 4px 14px;
    background: url('../img/bg/1x1-bg-black-opac0.3.png') repeat left top;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    border-bottom-style: none;

}
div.iPadMenu div.Social_Ticker ul.shop-nav li a {
    padding: 0;
    padding-left: 22px;
    color: #FFF;
    font-size: 14px;
    text-transform: none;
    display: inline-block;
}
div.iPadMenu div.Social_Ticker ul.top-nav li{
    text-align: center;
    float: none;
    width: auto;
    display: none;
    background: rgba(0, 0, 0, 0);
}
div.iPadMenu div.Social_Ticker ul.top-nav li a{
    padding:10px 3px;
}
div.iPadMenu div.Social_Ticker ul.top-nav{
    text-align:center;
    padding-top: 0 !important;
    background:#000;
}
div.iPadMenu div.Social_Ticker ul.top-nav li.SocialNetowrk
{
    display: inline-block;
    padding-top:0px;
}
html.iPadMenuOpen,
body.iPadMenuOpen{
    height:100%;
    width:100%;
    overflow:hidden;
}
div.iPadMenu .dropdown-menu{
    display:block;
}
div.iPadMenu .dropdown-menu li{
    display:block;
    float:left;
}
header#navbar div.iPadMenu{
    display:block !important;
}
